<% airports_options = Airport.all.map { |airport| [airport.code, airport.id] }%>
<% departure_date_options = Flight.all.distinct.order('start').map { |flight| [flight.start.strftime('%m/%d/%Y'), flight.start ]} %>


<%= form_with url: '/flights', local: true, method: 'GET' do |form| %>
    <div>
        <%= form.label :from_airport %>
        <%= select_tag(:from_airport, options_for_select(airports_options, 2)) %>
    </div>
    <div>
        <%= form.label :to_airport %>
        <%= select_tag(:to_airport, options_for_select(airports_options, 1)) %>
    </div>
    <div>
        <%= form.label :passengers %>
        <%= select_tag(:passengers, options_for_select([1,2,3,4])) %>
    </div>
    <div>
        <%= form.label :departure_date %>
        <%= form.select :departure_date, options_for_select(departure_date_options) %>
    </div>

    <%= form.submit "Show Flights" %>
<% end %>