<%= form_with url: flights_path, local: true, method: 'GET' do |form| %>
    <div>
        <%= form.label :from_airport_id %>
        <%= select_tag(:from_airport_id, options_for_select(airports_options, params[:from_airport_id]), required: true) %>
    </div>
    <div>
        <%= form.label :to_airport_id %>
        <%= select_tag(:to_airport_id, options_for_select(airports_options, params[:to_airport_id]), required: true) %>
    </div>
    <div>
        <%= form.label :passenger_count %>
        <%= select_tag(:passenger_count, options_for_select([1,2,3,4], params[:passenger_count]), required: true) %>
    </div>
    <div>
        <%= form.label :start %>
        <%= form.select :start, options_for_select(departure_date_options, params[:start]) %>
    </div>

    <%= form.submit "Show Flights" %>
<% end %>